<%- include('partials/head') %>
    <main class="content pure-u-1 pure-u-md-3-4 pure-u-xl-5-6">
        <div class="pure-g">
            <article class="post pure-u-1">
                <header>
                    <h1><%= articleDetails.title %></h1>
                    <div class="post-meta">
                        Par <a href="#"><%= articleDetails.author %></a>
                        dans la catégorie <a href="#"><%= articleDetails.category %></a>
                    </div>
                </header>
                <figure class="post-picture">
                    <img class="pure-img" src="/images/<%= articleDetails.img %>" alt="<%= articleDetails.img_alt %>">
                    <figcaption class="post-picture-caption"><%= articleDetails.sub_title %></figcaption>
                </figure>
                <div class="post-content">
                    <p>
                        <%= articleDetails.text %>
                    </p>
                </div>
                <footer>
                    <a class="pure-button" href="/">Retour à l'accueil</a>
                </footer>
            </article>
        </div>
    </main>
<%- include('partials/foot') %>